.logo {
  color: skyblue
}
.menu {
  font-family: "fanatasy";
  color: red
}
.head{
  font-family: "manospase";
  color: blue
}
.title{
  font-family:"monospase", cursive
}
.button{
  font-family:"fantasy",cursive;
  color: purple
}
