.logo {
  color: skyblue;
  font-size: 20px;
}
.menu  {
  font-family: "fanatasy";
  color: red
}
.header{
.header__menu  {
  font-family: "fanatasy";
  color: red;
}
.menu__item{
 text-decoration: 2px underline #528;
}
.main-content__title{
  font-family: "Lobster";
  color: blue;
}
.main-content__dicription{
  font-family:"Caveat", cursive;
}
.main-content__button{
  font-family:"fantasy",cursive;
  color: purple;
   background:skyblue;
}
