.header__logo {
  color: skyblue;
  font-size: 20px
}
.header__menu  {
  font-family: "fanatasy";
  color: red
}
.menu__item{
 text-decoration: 2px underline #528
}
.header__title{
  font-family: "Lobster";
  color: blue
}
.header__subtitle{
  font-family:"Caveat", cursive
}
.button{
  font-family:"fantasy",cursive;
  color: purple;
   background:skyblue;
}
