body{
  margin: 0;
}
.menu  {
  display: flex;
  align-items: center;
  padding: 7px 0;
}
.menu__item_active::after{
position: absolute;
display: block;
content:'';
left: 0;
width: 100%;
height: 3px;
background: #0056ec;
}
.wrapper{
 margin: auto;
 width: 80%;
 border: dashed 1px red;
}
.header{
  display: flex;
  justify-content: space-between;
  padding:40px 0;
}
.logo, .menu{
  display: inline-block;
}
.logo{
   margin-right: 61%;
   width: 205px;
   height: 35px;
   background:no-repeat url(img/logo.svg);
}
.menu__item{
  position: relative;
  margin-right: 23px;
  font:500 18px/21px Roboto,arial,helvetica,sans-serif;
  color:#000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:last-child{
  padding-right: 0;
}
.menu__item:hover{
  opacity:1;
  color: #0000ff;
  transition: opacity .5s;
}
.menu__item::after{
  position: absolute;
  display: block;
  content:'';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s;
}
.menu__item:hover::after, .menu__item_active::after{
  opacity: 1
}
.main__title{
  margin:0 0 40px 0;
  font:500 66px/87px pt_serifbold,normal,bold;
  width: 567px;
  height: 255px;
}
.main__description{
  margin:0 0 41px 0;
  font:500 22px/26px Roboto,arial,helvetica,sans-serif;
  width: 455px;
  height: 52px;
  margin-bottom: 41px;
}
.main__button{
  position: relative;
  font:500 18px/21px Roboto,arial,helvetica,sans-serif;
  color: #ffffff;
  border-radius: 4px;
  background: #0056ec;
  padding: 18px 25px;
  text-decoration:none;
  transition:opacity .5s;
}
.main__button:hover{
  opacity: .5;
}
.main{
  margin-right:9px;
  margin-top: 108px;
  padding:72px 62% 200px 0;
  background:top right no-repeat url(img/main-img.svg);
}
.main__title-text_highlight{
  background: #ecf3ff;
