body{
  margin: 0;
}
.menu  {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.menu__item_active::after{
position: absolute;
display: block;
content:'';
left: 0;
width: 100%;
height: 3px;
background: #0056ec;
}
.wrapper{
 margin: auto;
 width: 80%;
}
.header{
  display: flex;
  justify-content: space-between;
  padding:40px 0;
}
.logo, .menu{
  display: inline-block;
}
.logo{
   padding-right: 63%;
   width: 190px;
   height: 35px;
   background:no-repeat url(img/logo.svg);
}
.menu__item{
  position: relative;
  margin-right: 22px;
  font:500 18px/21px Roboto,arial,helvetica,sans-serif;
  color:#000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:last-child{
  padding-right: 0;
}
.menu__item:hover{
  opacity:1;
  color: #0000ff;
  transition: opacity .5s;
}
.menu__item::after{
  position: absolute;
  display: block;
  content:'';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s;
}
.menu__item:hover::after, .menu__item_active::after{
  opacity: 1
}
.main__title{
  margin:0 0 41px 0;
  font:500 66px/87px pt_serifbold,normal,bold;
  width: 567px;
  height: 255px;
}
.main__description{
  margin:0 0 41px 0;
  font:500 22px/26px Roboto,arial,helvetica,sans-serif;
  width: 455px;
  height: 52px;
  margin-bottom: 41px;
}
.main__button{
  position: relative;
  font:500 18px/21px Roboto,arial,helvetica,sans-serif;
  color: #fff;
  border-radius: 4px;
  background: #0056ec;
  padding: 18px 25px;
  cursor: pointer;
  text-decoration:none;
  overflow: hidden;
}
.main__button:hover:before{
  content: '';
   width: 100%;
   height: 200%;
   position: absolute;
   top: 0; left: 0;
   opacity: 0.5;
   background: linear-gradient(to left, transparent 0%, #fff 40%, #fff 60%, transparent 100%);
   transform: translate(-100%, -25%) rotate(10deg);
   animation: move-light 2s;
 }
 @keyframes move-light {
   0% {
   transform: translate(-100%, -25%) rotate(10deg);
 }
 20% {
   transform: translate(100%, -25%) rotate(10deg);
 }
 100% {
   transform: translate(100%, -25%) rotate(10deg);
 }
 }
.main{
  margin-right:9px;
  margin-top: 108px;
  padding:72px 62% 200px 0;
  background:top right no-repeat url(img/main-img.svg);
}
.main__title-text_highlight{
  background: #ecf3ff;
}
@media (min-width:960px){
.burger-menu{
  display: none;
}
}
@media (max-width:1900px){
.menu__item{
  font:500 14px/16px Roboto,arial,helvetica,sans-serif;
}
.logo{
  padding-right: 46%;
}
.wrapper{
  width: 68%;
}
.main__title{
  font:700 50px/66px pt_serifbold,normal,bold;
  width: 434px;
  height: 195px;
  margin-bottom: 39px;
}
.main__description{
  font:500 18px/21px Roboto, arial,helvetica,sans-serif;
  width: 367px;
  height: 43px;
}
.main__button{
  font:500 14px/16px Roboto, arial,helvetica,sans-serif;
  padding: 14px 20px;
}
.main{
  padding: 16px 62% 200px 0;
  margin:7% 0% 0 0;
  background:top right no-repeat url(img/main_img.svg);
}
}
@media(max-width:1365px){
  .wrapper{
    width: 91%;
  }
  .logo{
    padding-right: 47%;
  }
  @media(max-width: 1023px){
    .logo{
      padding-right: 43%;
  }
}
@media (max-width:959px){
  .wrapper{
    width: 69%;
  }
 .menu{
  display:none;
 }
 .logo{
   padding-right: 20%;
   margin-left:-14%;
   width: 5px;
   height: 35px;
   background: no-repeat url(img/logo-mobile.svg);
 }
 .header{
   padding: 24px 0;
   margin-bottom: 28px;
 }
 .main{
   text-align: center;
   padding: 100% 0 0 ;
   margin: -22px 0 0;
   background-size: 107%;
   background-position: top center;
 }
 .main__title{
   padding-bottom: 3px;
   margin-right: auto;
   margin-left: auto;
   font:bold 30px/40px pt_serifbold, normal,bold;
   width: 267px;
   height: 96px;
 }
 .main__description{
   padding-top: 6%;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 22px;
   font:500 16px/18px Roboto,arial,helvetica,sans-serif;
   width: 275px;
   height: 57px;
 }
 .main__button{
   position:static;
   font: 500 14px/16px Roboto,arial,helvetica,sans-serif;
   padding: 14px 20px;
 }
#menu__toggle{
  opacity: 0;
}
.menu__btn{
  display:flex;
  align-items: center;
  position: fixed;
  top: 32px;
  right: 24px;
  width: 25px;
  height: 17px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0056ec
}
.menu__btn > span::before{
  content: '';
  top: -7px;
}
.menu__btn > span::after{
  content: '';
  top: 7px;
}
.menu__box{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 47% 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menu__item{
  display: block;
  padding: 12px 24px;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before{
  top: 0;
  transform: rotate(0)
}
#menu__toggle:checked ~ .menu__btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box{
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
.menu__item{
  font:500 30px/35px Roboto,arial,helvetica,sans-serif;
}
}
